@import "tailwindcss";

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Hide default scrollbars globally */
* {
  /* For Firefox */
  scrollbar-width: none !important;
  /* For Internet Explorer/Edge */
  -ms-overflow-style: none !important;
}

/* For Webkit-based browsers (Chrome, Safari, Edge, Opera) */
*::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}
